@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Light.eot');
  src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg'),
    url('../fonts/Rubik-Light.ttf') format('truetype'),
    url('../fonts/Rubik-Light.woff') format('woff'),
    url('../fonts/Rubik-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg'),
    url('../fonts/Rubik-Regular.ttf') format('truetype'),
    url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.eot');
  src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Medium.svg#Rubik-Medium') format('svg'),
    url('../fonts/Rubik-Medium.ttf') format('truetype'),
    url('../fonts/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.eot');
  src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg'),
    url('../fonts/Rubik-Bold.ttf') format('truetype'),
    url('../fonts/Rubik-Bold.woff') format('woff'),
    url('../fonts/Rubik-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Black.eot');
  src: url('../fonts/Rubik-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Black.svg#Rubik-Black') format('svg'),
    url('../fonts/Rubik-Black.ttf') format('truetype'),
    url('../fonts/Rubik-Black.woff') format('woff'),
    url('../fonts/Rubik-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
