@media (max-width:1024px)
    .App
        grid-template-columns: minmax(25rem, 33rem) minmax(40rem, auto)

    .weather-details
        padding: 0 11rem
        .wrapper
            margin: 6rem auto

    .search-form
        display: grid
        grid-template-rows: 1fr
        justify-items: center
        justify-content: stretch
        width: 100%
        &__input
            order: 1
            width: 100%
        .search-input
            width: 100%
        .btn-search-city
            order: 3
        .error-message
            order: 2

    .btn-search__m-top
        margin-top: 2rem

    .weather-today
        background-position: center 33%
        .wrapper
            padding: 5rem 2rem

    .weather-today__conditions-img
        margin-top: 23rem

    .weather-today__degrees
        margin-top: 19rem

@media (max-width:940px)
    .App
        grid-template-columns: minmax(26rem, auto) minmax(50rem, auto)

    .weather-today
        background-position: center 33%
        .wrapper
            padding: 5.3rem 1.2rem

    .btn-search-city
        width: 16rem

    .weather-details
        padding: 0 7.2rem

@media (max-width:760px)
    .App
        grid-template-columns: minmax(37.5rem, auto)

    .weather-today
        background-position: center 6rem
        .wrapper
            padding: 2rem

    .weather-today__conditions-img
        margin-top: 0

    .weather-today__degrees
        margin-top: 0

    .weather-details
        padding: 0 3rem
        .wrapper
            margin-bottom: 2rem

    .weather-details__header
        grid-template-columns: auto
        grid-template-rows: 1fr 1fr
        gap: 2rem
        justify-items: center
    .weather-slider__arrows
        display: none
    .weather-slider__container
        display: none
        grid-template-columns: repeat(auto-fill, minmax(100px, 100px))
        justify-content: space-evenly
        gap: 2.4rem 2.4rem
        position: relative
        height: 100%
        &.active
            display: grid

    .weather-details__tabs
        gap: 4rem

    .weather-btn
        margin: 0

    .search-input
        width: 100%
